<div class="link-navi">
  <%= link_to I18n.t("consumer.records.index.title"), root_path(current_tab: "index_tab") %><span> ＞</span>
  <%= link_to I18n.t("consumer.records.show.title"), user_record_path(current_user.id, @record.id) %><span> ＞</span>
  <%= I18n.t("consumer.records.edit.title") %>
</div>

<div class="main-container">
  <div class="row my-1">
    <div class="actions col-md-11 text-right">
      <%= link_to I18n.t("btn.delete"), user_record_path(current_user.id, @record.id), method: :delete, "data-confirm" => I18n.t("consumer.records.destroy.confirmation"), class: "btn btn-sm btn-secondary p-0" %>
    </div>
  </div>
  
  <%= render "consumer/records/form", record: @record, btn_name: I18n.t("btn.update") %>
</div>