<div class="link-navi">
  <%= link_to I18n.t("consumer.records.index.title"), root_path(current_tab: "index_tab") %><span> ＞</span>
  <%= I18n.t("consumer.records.show.title") %>
</div>

<div class="main-container row">
  <div class="col-md-6">
    <div class="mb-3 d-flex justify-content-center">
      <%= image_tag @record.get_record_image(300, 300), class: "d-md-block d-sm-none d-none" %>
      <%= image_tag @record.get_record_image(270, 270), class: "d-md-none d-sm-block d-none" %>
      <%= image_tag @record.get_record_image(240, 240), class: "d-md-none" %>
    </div>
    <p class="mb-3"><%= @record.impression %></p>
    <div id="chart">
      <%= render "consumer/records/chart", record_data: @record_data, record: @record %>
    </div>
  </div>
  <div class="col-md-6 mt-md-3">
    <p class="overflow-hidden text-nowrap text-truncate">
      <i class="fa-solid fa-tablets"></i><%= @record.coffee_name %>
    </p>
    <p class="overflow-hidden text-nowrap text-truncate">
      <i class="fa-solid fa-store"></i><%= @record.shop_name %>
    </p>
    <p><%= I18n.t("activerecord.attributes.record.scene") %>:<%= @record.scene_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.brewing") %>:<%= @record.brewing_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.sweetness") %>:<%= @record.sweetness_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.acidity") %>:<%= @record.acidity_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.bitterness") %>:<%= @record.bitterness_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.strength") %>:<%= @record.strength_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.aftertaste") %>:<%= @record.aftertaste_i18n %></p>
    <p><%= I18n.t("activerecord.attributes.record.rate") %>:<%= @record.rate_i18n %></p>
    <div class="text-right">
      <%= link_to I18n.t("btn.edit"), edit_user_record_path(current_user.id, @record.id), class: "btn border rounded mt-3" %>
    </div>
  </div>
</div>