<div class="main-container">
  <div class="text-center d-flex">
    <h4 class="mr-2"><%= current_maker.company_name %></h4>
    <%= link_to seller_edit_maker_path do %>
      <i class="fa-solid fa-gears"></i>
    <% end %>
  </div>

  <div class="errors text-center">
    <%= render "layouts/errors", obj: @shop %>
  </div>
  <%= form_with model: @shop, url: seller_shops_path, method: :post do |f| %>
    <div class="d-flex justify-content-center justify-content-md-end">
      <div class="row form-group col-md-7">
        <%= f.text_field :name, placeholder: I18n.t("seller.shops.create.placeholder"), class: "form-control col-8" %>
        <div class="col-4">
          <%= f.submit I18n.t("btn.create"), class: "btn btn-sm common-btn" %>
        </div>
      </div>
    </div>
  <% end %>

  <section>
    <h5><%= I18n.t("seller.shops.index.section_title") %></h5>
    <% if @shops.any? %>
      <div class="d-flex">
        <% @shops.each do |shop| %>
          <%= link_to seller_shop_path(shop.id) do %>
            <div class="shop-card m-1">
              <div class="card-image">
                <%= image_tag shop.get_shop_image(200, 150) %>
              </div>
              <hr class="mb-1">
              <div class="d-flex">
                <object>
                  <%= link_to edit_seller_shop_path(shop.id) do %>
                    <i class="fa-solid fa-gear"></i>
                  <% end %>
                </object>
                <p class="mb-0 ml-1 overflow-hidden text-nowrap text-truncate">
                  <%= shop.name %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @shops, theme: "bootstrap-5" %>
      </div>
      
    <% else %>
      <p class="text-center"><%= I18n.t("seller.shops.index.no_exist") %></p>
    <% end %>
  </section>
</div>