<div class="text-center d-flex">
  <h4 class="mr-2"><%= current_maker.company_name %></h4>
  <%= link_to seller_edit_maker_path do %>
    <i class="fa-solid fa-gears"></i>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @shop %>
</div>
<%= form_with model: @shop do %>
  <div class="row">
    <div class="form-group col-10">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: I18n.t("seller.shops.create.placeholder"), class: "form-control" %>
    </div>
    <div class="actions col-2">
      <%= f.submit I18n.t("btn.create"), class: "btn btn-sm" %>
    </div>
  </div>
<% end %>

<section>
  <h5><%= I18n.t("seller.shops.index.section_title") %></h5>
  <% @shops.each do |shop| %>
    <div class="row justify-content-center">
      <div class="col-md-3 col-4">
        <%= image_tag shop.get_shop_image(50, 50) %>
      </div>
      <div class="col-md-5 col-6">
        <p><%= shop.name %></p>
      </div>
      <div class="col-1">
        <%= link_to edit_seller_shop_path(shop.id) do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
      <div class="col-1">
        <%= link_to seller_shop_path(shop.id) do %>
          <i class="fa-solid fa-up-right-from-square"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @shops, theme: "bootstrap-5" %>
</section>