<div class="link-navi">
  <%= link_to I18n.t("seller.shops.index.title"), seller_shops_path %><span> ＞</span>
  <%= I18n.t("seller.shops.show.title") %>
</div>

<div class="main-container row">
  <div class="col-md-6">
    <div class="mb-3 d-flex justify-content-center">
      <%= image_tag @shop.get_shop_image(300, 300), class: "d-md-block d-sm-none d-none" %>
      <%= image_tag @shop.get_shop_image(270, 270), class: "d-md-none d-sm-block d-none" %>
      <%= image_tag @shop.get_shop_image(240, 240), class: "d-md-none" %>
    </div>
    <div class="d-flex justify-content-between">
      <h4><%= @shop.name %></h4>
      <%= link_to edit_seller_shop_path(id: @shop.id) do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </div>
    
    <div>
      <p><%= @shop.address %></p>
      <p><%= @shop.introduction %></p>
      <a href="<%= @shop.website %>" target="_blank"><p><%= @shop.website %></p></a>
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="border border-secondary rounded p-1 mb-2">
      <div class="text-right">
        <%= link_to new_seller_shop_coffee_post_path(@shop.id) do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </div>
      <%= render "seller/coffee_posts/index", coffees: @coffees, param_name: "coffee_page" %>
    </div>
      
    <div class="border border-secondary rounded p-1">
      <div class="text-right">
        <%= link_to new_seller_shop_information_post_path(@shop.id) do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </div>
      <%= render "seller/information_posts/index", informations: @informations, param_name: "information_page" %>
    </div>

  </div>
</div>