<div class="errors text-center">
  <%= render "layouts/errors", obj: coffee %>
</div>

<%= form_with model: [:seller, shop, coffee] do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-10 form-group row">
      <%= f.label :name, class: "col-4" %>
      <%= f.text_field :name, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :introduction, class: "col-4" %>
      <%= f.text_area :introduction, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :online_sale, class: "col-4" %>
      <%= f.select :online_sale, options_for_select: [[I18n.t("seller.coffee_posts.show.online_sale.true"), true],[I18n.t("seller.coffee_posts.show.online_sale.false"), false]], class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :roasting, class: "col-4" %>
      <%= f.select :roasting, CoffeePost.roastings.keys.map {|k| [I18n.t("enums.coffee_post.roasting.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :grind_size, class: "col-4" %>
      <%= f.select :grind_size, CoffeePost.grind_sizes.keys.map {|k| [I18n.t("enums.coffee_post.grind_size.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :brewing, class: "col-4" %>
      <%= f.select :brewing, CoffeePost.brewings.keys.map {|k| [I18n.t("enums.coffee_post.brewing.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :sweetness, class: "col-4" %>
      <%= f.select :sweetness, CoffeePost.sweetnesses.keys.map {|k| [I18n.t("enums.coffee_post.sweetness.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :acidity, class: "col-4" %>
      <%= f.select :acidity, CoffeePost.acidities.keys.map {|k| [I18n.t("enums.coffee_post.acidity.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :bitterness, class: "col-4" %>
      <%= f.select :bitterness, CoffeePost.bitternesses.keys.map {|k| [I18n.t("enums.coffee_post.bitterness.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :strength, class: "col-4" %>
      <%= f.select :strength, CoffeePost.strengths.keys.map {|k| [I18n.t("enums.coffee_post.strength.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :aftertaste, class: "col-4" %>
      <%= f.select :aftertaste, CoffeePost.aftertastes.keys.map {|k| [I18n.t("enums.coffee_post.aftertaste.#{k}"), k]}, class: "col-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :supplement, class: "col-md-4 col-12" %>
      <%= f.text_area :supplement, class: "col-md-8 form-control" %>
    </div>
    <div class="col-md-10 form-group row">
      <%= f.label :coffee_image, class: "col-4" %>
      <%= f.file_field :coffee_image, accept: "image/*", class: "col-8" %>
    </div>
  </div>
  <div class="row">
    <div class="actions col-md-10 text-right">
      <%= f.submit btn_name, class: "btn btn-sm common-btn" %>
    </div>
  </div>
<% end %>