<div class="main-container">
  <%= render "layouts/errors", obj: @user %>
  <%= form_with model: @user do |f| %>
    <div class="form-group row justify-content-center">
      <%= f.label :email, autofocus: true, class: "col-md-3" %>
      <%= f.email_field :email, class: "col-md-5 form-control" %>
    </div>
  
    <div class="actions row justify-content-center">
      <div class="col-md-8 text-right">
        <%= f.submit I18n.t("btn.update"), class: "btn btn-sm common-btn" %></br></br>
        <%= link_to I18n.t("consumer.users.destroy.btn"), user_path(@user.id), method: :delete,
      class: "mt-3", "data-confirmation" => I18n.t("consumer.users.destroy.confirmation") %>
      </div>
    </div>
  <% end %>
</div>