<% if shops.any? %>
  <div class="d-flex justify-content-around flex-wrap">
    <% shops.each do |shop| %>
      <%= link_to shop_path(shop.id), class: "shop-card" do %>
        <div class="card-image">
          <%= image_tag shop.get_shop_image(200, 150) %>
        </div>
        <hr class="mb-1">
        <p class="overflow-hidden text-nowrap text-truncate">
          <i class="fa-solid fa-store"></i>
          <%= shop.name %>
        </p>
        <p class="overflow-hidden text-nowrap text-truncate">
          <%= shop.address %>
        </p>
        <p class="overflow-hidden text-nowrap text-truncate">
          <%= shop.introduction %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate shops, theme: "bootstrap-5" %>
  </div>
<% else %>
  <p class="text-center"><%= I18n.t("consumer.shops.index.no_exist") %></p>
<% end %>