<div class="link-navi">
  <%= link_to I18n.t("consumer.homes.title"), root_path %><span> ＞</span>
  <%= I18n.t("consumer.shops.index.title") %>
</div>

<div class="main-container">
  <% if @shops.any? %>
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop.id) do %>
        <div class="shop-card">
          <%= image_tag shop.get_shop_image(200, 200) %>
          <p>
            <i class="fa-solid fa-store"></i>
            <%= shop.name %>
          </p>
          <p class="overflow-hidden text-nowrap text-truncate">
            <%= shop.address %>
          </p>
        </div>
      <% end %>
    <% end %>
    <p class="text-center">
      <%= paginate @shops, theme: "bootstrap-5" %>
    </p>
  <% else %>
    <p class="text-center"><%= I18n.t("consumer.shops.index.no_exists") %></p>
  <% end %>
</div>