<div class="link-navi">
  <%= link_to I18n.t("consumer.homes.title"), root_path %><span> ＞</span>
  <%= link_to I18n.t("consumer.shops.index.title"), shops_path %><span> ＞</span>
  <%= link_to I18n.t("consumer.shops.show.title") %>
</div>

<div class="main-container">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3 d-flex justify-content-center">
        <%= image_tag @shop.get_shop_image(300, 300), class: "d-md-block d-sm-none d-none" %>
        <%= image_tag @shop.get_shop_image(270, 270), class: "d-md-none d-sm-block d-none" %>
        <%= image_tag @shop.get_shop_image(240, 240), class: "d-md-none" %>
      </div>
    </div>
    <div class="col-md-6">
      <ul id="tab-menu-in-shop" class="d-flex justify-content-between">
        <li><a href="#coffee_posts_tab" class="active-index"><i class="fa-solid fa-mug-saucer"></i></a></li>
        <li><a href="#information_posts_tab" class=""><i class="fa-solid fa-circle-info"></i></a></li>
      </ul>
      <div id="tab-contents">
        <div id="coffee_posts_tab" class="tab">
          <%= render "consumer/coffee_posts/index", coffees: @coffees, param_name: "coffee_page" %>
        </div>
        <div id="information_posts_tab" class="tab">
          <%= render "consumer/information_posts/index", informations: @informations, param_name: "informaion_page" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'shop_tab' %>