<div class="main-container">
  <h4 class="text-center"><%= I18n.t("link.sign_up") %></br>(<%= I18n.t("activerecord.models.maker") %>)</h4>

  <%= form_with model: @maker, url: maker_registration_path, id: 'new_maker', class: 'new_maker' do |f| %>
    <div class="errors alert-message text-center">
      <%= render "seller/shared/error_messages", resource: resource %>
    </div>

    <div class="form-group row justify-content-center">
      <%= f.label :company_name, class: "col-md-3" %><br />
      <%= f.text_field :company_name, autofocus: true, class: "form-control col-md-5" %>
    </div>

    <div class="form-group row justify-content-center">
      <%= f.label :email, class: "col-md-3" %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control col-md-5" %>
    </div>

    <div class="form-group row justify-content-center">
      <%= f.label :password, class: "col-md-3" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: I18n.t("minimum_password"), class: "form-control col-md-5" %>
    </div>

    <div class="form-group row justify-content-center">
      <%= f.label :password_confirmation, class: "col-md-3" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-md-5" %>
    </div>

    <div class="actions row justify-content-center">
      <div class="col-md-8 text-right">
        <%= f.submit I18n.t("btn.sign_up"), class: "btn btn-sm common-btn" %></br>
        <%= render "seller/shared/links" %>
      </div>
    </div>
  <% end %>
</div>


