<ul class='justify-content-around my-0'>

  <% if user_signed_in? %>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path(user_id: current_user.id) do %>
        <i class="fa-solid fa-user-pen"></i>
      <% end %>
    </li>
    <li>
      <%= link_to user_bookmarks_path(current_user.id) do %>
        <i class="fa-solid fa-bookmark"></i>
      <% end %>
    </li>
    <li>
      <%= link_to user_following_shops_path(current_user.id) do %>
        <i class="fa-solid fa-store"></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path(user_id: current_user.id), method: :delete,
          "data-confirm" => I18n.t("logout_confirmation") do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  <% elsif maker_signed_in? %>
    <li>
      <%= link_to seller_shops_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_maker_session_path(maker_id: current_maker.id), method: :delete,
          "data-confirm" => I18n.t("logout_confirmation") do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  <% end %>

</ul>

