<ul class='d-flex justify-content-around mb-0'>
  
  <% if user_signed_in? %>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path do %>
        <i class="fa-solid fa-user-pen"></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  <% elsif maker_signed_in? %>
    <li>
      <%= link_to seller_shops_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_maker_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  <% else %>
    <h1>Coffee Recorder</h1>
  <% end %>
  
</ul>
