<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeRecorder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/945e2890b0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <nav class='d-none d-md-block'><%= render 'layouts/header' %></nav>
    </header>
    
    <span id="language-switch-btn">
      <%= render "layouts/language_switch_btn" %>
    </span>
    
    <p class="notice-message"><%= flash[:notice] %></p>
    <p class="alert-message" ><%= flash[:alert] %></p>
    
    <body>
      <%= yield %>
      <%= render "layouts/to_page_top" %>
    </body>
    
    <footer>
      <nav class='d-md-none'><%= render 'layouts/footer' %></nav>
    </footer>
    
  </body>
</html>
