<div class="d-flex justify-content-around flex-wrap">
  <% if informations.any? %>
    <% informations.each do |information| %>
      <%= link_to seller_shop_information_post_path(information.shop_id, information.id), class: "index-card" do %>
        <p class="overflow-hidden text-nowrap text-truncate">
          <%= information.title %>
        </p>
        <p class="overflow-hidden text-nowrap text-truncate">
          <%= information.body %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <% if informations.any? %>
    <%= paginate informations, theme: "bootstrap-5", :param_name => param_name %>
  <% else %>
    <%= I18n.t("consumer.information_posts.index.no_exist") %>
  <% end %>
</div>