<div class="link-navi">
  <%= link_to I18n.t("seller.shops.index.title"), seller_shops_path %><span> ＞</span>
  <%= link_to I18n.t("seller.shops.show.title"), seller_shop_path(@shop.id) %><span> ＞</span>
  <%= link_to I18n.t("seller.information_posts.show.title"), seller_shop_coffee_post_path(@shop.id, @information.id) %><span> ＞</span>
  <%= I18n.t("seller.information_posts.edit.title") %>
</div>

<div class="main-container">
  <div class="row my-1">
    <div class="actions col-md-11 text-right">
      <%= link_to I18n.t("btn.delete"), seller_shop_information_post_path(@shop.id, @information.id), method: :delete, "data-confirm" => I18n.t("seller.information_posts.destroy.confirmation"), class: "btn btn-sm btn-secondary p-0" %>
    </div>
  </div>
  
  <%= render "seller/information_posts/form", information: @information, shop: @shop, btn_name: I18n.t("btn.update") %>
</div>