<div class="link-navi">
  <%= link_to I18n.t("seller.shops.index.title"), seller_shops_path(maker_id: current_maker.id) %><span> ＞</span>
  <%= link_to I18n.t("seller.shops.show.title"), seller_shop_path(maker_id: current_maker.id, id: @shop.id) %><span> ＞</span>
  <%= link_to I18n.t("seller.information_posts.show.title"), seller_shop_coffee_post_path(maker_id: current_maker.id, @shop.id, @information.id) %><span> ＞</span>
  <%= I18n.t("seller.information_posts.edit.title") %>
</div>

<div class="main-container">
  <%= render "seller/information_posts/form", information: @information, shop: @shop, btn_name: I18n.t("btn.update") %>
</div>